body {
	background-color: #050A30;
	font-family: 'Barlow', sans-serif;
}

.title {
	text-align: center;
	margin: 10%;
	font-size: 80px;
	color: white;
	font-weight: bold;
}

.form {
	display: flex;
	gap: 10px;
	justify-content: center;
	text-align: center;
}

#data {
	width: 30%;
	font-family: 'Barlow', sans-serif;
	height: 50px;
	font-size: 25px;
	border-radius: 3px;
	border: none;
	background-color: #050A30;
	border-bottom: 3px solid white;
	color: white;
}

#submit {
	width: 100px;
	height: 52px;
	font-size: 20px;
	text-align: center;
	font-family: 'Barlow', sans-serif;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	background-color: red;
	color: white;
	font-weight: bold;
}

#submit:hover {
	transition: 1s;
	background-color: white;
	color: black;
}

.big-container {
	display: none;
	width: 30%;
	height: 400px;
	background-color: white;
	margin-top: 5%;
	margin-left: 35%;
	border-radius: 10px;
}
.city-name {
	margin: 10%;
	padding-top: 10%;
	font-size: 25px;
}

.degree {
	margin: 10%;
	font-size: 60px;
	font-weight: 1000;
}

#font {
	display: inline;
	font-size: 40px;
	font-weight: 100;
}

#weather-state {
	font-size: 30px;
	text-align: center;
}

#pic {
	background-color: white;
	text-align: center;
}

#notfound {
	display: none;
	color: white;
	text-align: center;
	margin-top: 10%;
	font-size: 50px;
	font-weight: bold;
}

@media screen and (min-width: 1500px) {
	#big-container {
		height: 500px;
	}
}